{% load static %}
<html>
  <head>
    <title>Django blog</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <header>
      <div class="containter">
        <a href="/">LOGO</a>
        <a href="/news/">Новости</a>
      </div>
    </header>
    <div>
      {% block content %}
      {% endblock content %}
      {% block news %}
      {% endblock news %}
    </div>
  </body>
</html>