<!-- templates/home.html -->
{% extends 'base.html' %}
 
{% block content %}
  <section>
    <div class="container">
      <div class="d-flex flex-wrap">
        {% for post in object_list %}
          <div class="col-3">
            <h2><a href="{% url 'project-detail' post.id %}">{{ post.title }}</a></h2>
            <span> Автор: <b>{{ post.author }}</b></span>
            <p>{{ post.descr }}</p>
            <img src="{{ post.img.url }}" />
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}