<!-- templates/home.html -->
{% extends 'base.html' %}
 
{% block news %}
    <section>
    <div class="container">
        <div class="d-flex flex-wrap">
            <div>
                Test message
            </div>
        {% for news in object_list %}
            <div class="col-3">
            <h2><a href="{% url 'news-detail' news.id %}">{{ news.title }}</a></h2>
            <span> Автор: <b>{{ news.author }}</b></span>
            <p>{{ news.descr }}</p>
            {% if news.img.url %}
                <img src="{{ news.img.url }}" />
            {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    </section>
{% endblock news %}